* {
  margin: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  font-size: 16px;
}

.hidden {
  display: none !important;
}

.flipped {
  rotate: 180deg !important;
  svg {
    rotate: 180deg !important;
  }
  .square[data-square='a1'] {
    &.show-hint {
      &::before {
        rotate: 180deg;
        transform: translateY(-10%) !important;
      }
    }
  }
  .square[data-square='h8'] {
    &.show-hint {
      &::before {
        rotate: 180deg;
        transform: translateY(-5%) !important;
      }
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.nav-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 20px;
  width: 100%;
  max-width: 600px;

  p {
    font-size: 2.5rem;
  }

  nav {
    margin: 20px 0px 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    button {
      font-size: 1.1rem;
      padding: 5px 10px;
      border: none;
      background-color: white;
      cursor: pointer;
      border-radius: 5px;
      color: rgb(120, 120, 120);
      outline: none;

      &.active {
        background-color: #519872;
        color: white;
      }
    }
  }
}

.board-wrapper {
  position: relative;
  width: 100vw;
  height: 100vw;
  /* check */
  max-width: 600px;
  max-height: 600px;

  .board {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: 100%;

    tbody {
      width: 100%;
      height: 100%;
    }

    .squares-container {
      width: 100%;
    }

    .rank {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;

      .square {
        width: 100%;
        aspect-ratio: 1/1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &.wrong-position {
          background-color: red !important;
        }

        &.light {
          background-color: rgb(227, 193, 111);
          border: 3px solid rgb(227, 193, 111);
        }

        &.dark {
          background-color: rgb(184, 139, 74);
          border: 3px solid rgb(184, 139, 74);
        }

        &.highlight {
          &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            background-color: rgba(255, 255, 255, 0.4);
          }
        }

        &.highlight-wrong {
          &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
            background-color: rgba(207, 60, 58, 0.4);
            z-index: 0;
          }
        }

        &.position-highlight-wrong {
          &::after {
            content: url(assets/mult.svg);
            width: 100%;
            height: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: rgba(207, 60, 58, 0.6);
            z-index: 1;
            opacity: 0.2;
          }
        }

        svg {
          width: 85%;
          height: 85%;
          z-index: 0;
          pointer-events: none;
        }

        &.dragover {
          border: 3px solid yellow;
        }

        div {
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  } /* board */
}

.game-section {
  display: flex;
  flex-flow: column;
  align-items: center;

  .board-wrapper {
    .flip-board-button {
      background-color: transparent;
      border: none;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      margin-top: 0px;
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 130px;
        opacity: 0.3;
      }
    }
  }

  button {
    font-size: 2rem;
    padding: 5px;
    width: 80vw;
    /* check */
    max-width: 600px;
    border-radius: 5px;
    background-color: rgb(184, 139, 74);
    background-color: #519872;
    color: white;
    border: none;
    margin-top: 40px;
  }
}

#ranks-files-squares-game {
  .board {
    svg {
      pointer-events: none;
    }
  }

  .prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    font-size: 6rem;
    pointer-events: none;
    cursor: none;

    &.wrong {
      animation-name: wrong;
      animation-duration: 0.3s;
    }
  }
}

#colours-game {
  position: relative;
  margin-top: 60px;
  display: grid;
  grid-template-areas:
    'answer-light prompt answer-dark'
    'button button button';
  grid-template-columns: 2fr 1fr 2fr;
  justify-items: stretch;
  align-items: stretch;
  width: 100%;
  max-width: 500px;

  .colours-game-answer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
  }

  .colours-game-svg {
    width: 60%;
    fill: black;
    opacity: 0.2;
  }

  .colours-game-light {
    grid-area: answer-light;
    width: 100%;
    height: 150px;
    background-color: rgb(227, 193, 111);
    border-radius: 10px;
  }

  .colours-game-dark {
    grid-area: answer-dark;
    width: 100%;
    height: 150px;
    background-color: rgb(184, 139, 74);
    border-radius: 10px;
  }

  .colours-game-prompt {
    grid-area: prompt;
    pointer-events: none;
    cursor: none;
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    padding: 0px 5px;
    width: 6rem;
    text-align: center;
    border-radius: 10px;
  }

  button {
    grid-area: button;
    margin-top: 100px;
    width: 100%;
    align-self: center;
    justify-self: center;
    /* max-width: 80%; */
  }
}

#positions-game {
  .pieces-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: -10px;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .square {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        padding: 5px;
      }
    }
  }

  .square[data-square='a1'],
  .square[data-square='h8'] {
    position: relative;
    &.show-hint {
      &::before {
        font-size: 1rem;
        position: absolute;
        opacity: 0.6;
      }
    }
  }

  .square[data-square='a1'] {
    position: relative;
    &.show-hint {
      &::before {
        content: 'a1';
        top: 100%;
        left: 25%;
      }
    }
  }

  .square[data-square='h8'] {
    position: relative;
    &.show-hint {
      &::before {
        content: 'h8';
        top: -55%;
        right: 20%;
      }
    }
  }

  .positions-game-finished-buttons-container {
    max-width: 80vw;
    width: 80vw;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: -20px 0px;

    button {
      max-width: 40%;
      font-size: 1.2rem;
      background-color: transparent;
      color: black;
      /* border-radius: 0px; */
      cursor: pointer;
      border: 2px solid #519872;

      &.active {
        text-decoration: underline;
        text-decoration-color: #519872;
        text-decoration-thickness: 2px;
        background-color: #5198721f;
      }
    }
  }
}

#score {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 300px;
  z-index: 10;
  border-radius: 20px;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 0px;

  .score-heading {
    font-size: 1.8rem;
    text-wrap: nowrap;
    margin-bottom: 10px;
  }

  section {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 0px;

    svg {
      margin-right: 20px;
      width: 50px;
      height: 50px;
    }
  }

  .score-correct {
    color: #519872;
  }
  .score-wrong {
    color: #cf3c3a;
  }

  .score-close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 15px;

    svg {
      width: 25px;
      height: 25px;
      fill: rgb(126, 126, 126);
    }
  }
}

@keyframes wrong {
  0% {
    transform: translate(-50%, -55%) scale(1);
    color: black;
  }
  50% {
    transform: translate(-50%, -55%) scale(1.4);
    color: red;
  }
  75% {
    transform: translate(-50%, -55%) scale(1.2);
    color: red;
  }
  100% {
    transform: translate(-50%, -55%) scale(1);
    color: black;
  }
}

@media (min-width: 768px) {
  .nav-wrapper {
    nav {
      button {
        font-size: 1.5rem;
        padding: 10px 15px;
        border-radius: 7px;
      }
    }
  }

  @media (min-width: 1200px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    main {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      margin-top: 40px;
      width: 100%;
      max-width: 1200px;
    }

    .nav-wrapper {
      flex-flow: column;
      align-items: flex-start;
      max-width: 400px;

      p {
        font-size: 2rem;
        font-weight: medium;
      }

      nav {
        flex-flow: column;
        align-items: flex-start;
        gap: 10px;

        button {
          font-size: 1.5rem;
          padding: 10px 15px;
          border-radius: 7px;
        }
      }
    }

    .game-section {
      .board-wrapper {
        .flip-board-button {
          svg {
            width: 180px;
          }
        }
      }

      button {
        font-size: 2.2rem;
      }
    }

    #colours-game {
      max-width: 600px;
      grid-template-columns: 3fr 1fr 3fr;

      .colours-game-answer {
        max-width: 200px;
      }

      .colours-game-prompt {
        width: 100px;
      }

      .colours-game-light {
        justify-self: end;
      }

      .colours-game-dark {
        justify-self: start;
      }

      button {
        max-width: 500px;
        margin-top: 100px;
      }
    }

    #positions-game {
      position: relative;

      .positions-game-finished-buttons-container {
        max-width: 600px;
        width: 600px;
        margin: 0px 0px;

        button {
          max-width: 45%;
          font-size: 1.4rem;
          color: black;
          cursor: pointer;
          border: 2px solid #519872;

          &.active {
            text-decoration: underline;
            text-decoration-color: #519872;
            text-decoration-thickness: 2px;
            background-color: #5198721f;
          }

          &:hover {
            background-color: #5198721f;
          }
        }
      }

      .square[data-square='a1'],
      .square[data-square='h8'] {
        position: relative;
        &.show-hint {
          &::before {
            font-size: 1.3rem;
          }
        }
      }

      .square[data-square='a1'] {
        position: relative;
        &.show-hint {
          &::before {
            content: 'a1';
            top: 73%;
            left: 0%;
          }
        }
      }

      .square[data-square='h8'] {
        position: relative;
        &.show-hint {
          &::before {
            content: 'h8';
            top: -6%;
            right: 0%;
          }
        }
      }
    }

    .pieces-container {
      width: 300px;
      margin-top: 0px;
      margin-bottom: 0px;
      position: absolute;
      left: -370px;
      bottom: 108px;

      .row {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;

        .square {
          width: 60px;
          height: 60px;
          border: 1px solid black;
          padding: 5px;
        }
      }
    }
  }

  .flipped {
    .square[data-square='a1'] {
      &.show-hint {
        &::before {
          transform: translateY(0%) !important;
        }
      }
    }
    .square[data-square='h8'] {
      &.show-hint {
        &::before {
          transform: translateY(0%) !important;
        }
      }
    }
  }
}
