@import url('../shared/common.css');
@import url('../shared/score.css');
@import url('../shared/board.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.game-section {
  display: flex;
  flex-flow: column;
  align-items: center;

  button {
    font-size: 2rem;
    padding: 5px 5px;
    width: 90vw;
    max-width: 600px;
    border-radius: 5px;
    background-color: var(--colors-primary);
    color: white;
    border: none;
    margin-top: 30px;
    cursor: pointer;
    transition: all 50ms ease-in-out;

    &:hover {
      background-color: var(--colors-primary-hover);
      transition: all 50ms ease-in-out;
    }
  }

  #start-stop-flip-container {
    width: 90vw;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    #flip-board-button {
      width: 80px !important;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #b4b4b4;
      svg {
        width: 40px;
      }
      &:hover {
        background-color: #a4a4a4;
      }
    }
    .start-stop-button {
      width: 100% !important;
    }
  }
}

#ranks-game {
  position: relative;
  .board {
    svg {
      pointer-events: none;
    }
  }

  .prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    font-size: 6rem;
    pointer-events: none;
    cursor: none;

    &.wrong {
      animation-name: wrong;
      animation-duration: 0.3s;
    }
  }
}

@keyframes wrong {
  0% {
    transform: translate(-50%, -55%) scale(1);
    color: var(--colors-text-color);
  }
  50% {
    transform: translate(-50%, -55%) scale(1.4);
    color: red;
  }
  75% {
    transform: translate(-50%, -55%) scale(1.2);
    color: red;
  }
  100% {
    transform: translate(-50%, -55%) scale(1);
    color: var(--colors-text-color);
  }
}

@media (min-width: 1060px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    width: 100%;
    max-width: 1200px;
  }

  .game-section {
    position: relative;

    &#ranks-game {
      #start-stop-flip-container {
        position: absolute;
        bottom: 0px;
        left: -440px;
        margin: 0px;
        width: 360px;
        max-width: 360px;
      }
    }
  }
}
