main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.nav-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-top: 12px;
  width: 100%;
  max-width: 600px;

  p {
    font-size: 2rem;
  }

  nav {
    margin: 15px 0px 30px;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

    a {
      font-size: 1.2rem;
      padding: 5px 10px;
      border: none;
      background-color: white;
      cursor: pointer;
      border-radius: 5px;
      color: rgb(80, 80, 80);
      outline: none;
      text-decoration: none;

      &.active {
        background-color: #5198721f;
        color: #519872;
      }
    }
  }
}

.game-section {
  display: flex;
  flex-flow: column;
  align-items: center;

  button {
    font-size: 2rem;
    padding: 5px;
    width: 90vw;
    max-width: 600px;
    border-radius: 5px;
    background-color: rgb(184, 139, 74);
    background-color: #519872;
    color: white;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
    border: 2px solid #519872;
    user-select: none;

    &:hover {
      background-color: #5198723d;
      border: 2px solid #519872;
      color: #519872;
      transition: all 50ms ease-in-out;
    }
  }
}

#colours-game {
  width: 100vw;
  max-width: 600px;
  display: flex;
  flex-direction: column;

  .answers {
    width: 100%;
    height: 100vw;
    max-width: 600px;
    max-height: 600px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    padding: 0px 5px;
  }

  .colours-game-answer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    width: 100%;
    height: 50%;
    position: relative;
  }

  .colours-game-svg {
    height: 60%;
    fill: black;
    opacity: 0.2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .colours-game-light {
    width: 100%;
    background-color: rgb(227, 193, 111);
    border-radius: 10px;
  }

  .colours-game-dark {
    width: 100%;
    background-color: rgb(184, 139, 74);
    border-radius: 10px;
  }

  .colours-game-prompt {
    pointer-events: none;
    cursor: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    z-index: 1;
    background-color: rgba(255, 255, 255, 1);
    padding: 0px 5px;
    width: 6rem;
    text-align: center;
    border-radius: 10px;
    font-size: 3rem;
    user-select: none;
  }

  button {
    font-size: 2rem;
    padding: 5px;
    width: 80vw;
    max-width: 600px;
    border-radius: 5px;
    background-color: rgb(184, 139, 74);
    background-color: #519872;
    color: white;
    border: none;
    margin-top: 40px;
    cursor: pointer;
  }
}

#score {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 300px;
  z-index: 10;
  border-radius: 20px;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 0px;

  .score-heading {
    font-size: 1.8rem;
    text-wrap: nowrap;
    margin-bottom: 10px;
  }

  section {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 0px;

    svg {
      margin-right: 20px;
      width: 50px;
      height: 50px;
    }
  }

  .score-correct {
    color: #519872;
  }
  .score-wrong {
    color: #cf3c3a;
  }

  .score-close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 15px;
    cursor: pointer;

    svg {
      width: 25px;
      height: 25px;
      fill: rgb(126, 126, 126);
    }
  }
}

@media (min-width: 765px) {
  .nav-wrapper {
    nav {
      button {
        font-size: 1.5rem;
        padding: 10px 15px;
        border-radius: 7px;
      }
    }
  }

  @media (min-width: 1060px) {
    body {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    main {
      flex-direction: row;
      align-items: flex-start;
      justify-content: center;
      gap: 40px;
      margin-top: 100px;
      width: 100%;
      max-width: 1200px;
    }

    .nav-wrapper {
      flex-flow: column;
      align-items: flex-start;
      max-width: 400px;
      margin-top: 0px;

      p {
        font-size: 2rem;
        font-weight: medium;
      }

      nav {
        flex-flow: column;
        align-items: flex-start;
        gap: 10px;

        a {
          &.active {
            background-color: #fff;
            margin-left: 20px;
            position: relative;
            font-family: 'OpenSans Bold', sans-serif;

            &::before {
              content: '\2023';
              position: absolute;
              font-size: 3rem;
              left: -15px;
              top: 50%;
              transform: translateY(-50%);
              color: #51987256;
            }
          }
        }
      }
    }

    .game-section {
      position: relative;
    }

    #colours-game {
      padding: 0px;

      .colours-game-prompt {
        width: 140px;
        font-size: 5rem;
      }

      button {
        position: absolute;
        bottom: 0px;
        left: -440px;
        margin: 0px;
        width: 360px;
      }
    }
  }
}
