@import url('header.css');
@import url('footer.css');

@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OpenSans Bold';
  src: url('../fonts/OpenSans-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/SourceCodePro-Regular.woff2') format('woff2');
  font-weight: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/SourceCodePro-Bold.woff2') format('woff2');
  font-weight: bold;
  font-display: swap;
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
}

h1 {
  font-family: 'OpenSans', sans-serif;
  font-weight: bold;
}

html {
  font-size: 16px;
}

.hidden {
  display: none !important;
}

.flipped {
  rotate: 180deg !important;
  svg {
    rotate: 180deg !important;
  }
  .square[data-square='a1'] {
    &.show-hint {
      &::before {
        rotate: 180deg;
        transform: translateY(-10%) !important;
      }
    }
  }
  .square[data-square='h8'] {
    &.show-hint {
      &::before {
        rotate: 180deg;
        transform: translateY(-5%) !important;
      }
    }
  }
}

.desktop-only {
  display: none;
}

input[type='checkbox'] {
  width: 25px;
  height: 25px;
}

#toast {
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0px);
  bottom: 60px;
  padding: 10px 20px;
  opacity: 1;
  background-color: rgb(251, 255, 215);
  border: 2px solid rgb(207, 219, 100);
  color: rgb(72, 73, 17);
  border-radius: 10px;
  transition: all 200ms ease-in-out;
  text-align: center;

  &.toast-hidden {
    transform: translate(-50%, 40px);
    opacity: 0;
    transition: all 100ms ease-in-out;
  }
}

@media (min-width: 1060px) {
  .mobile-only {
    display: none !important;
  }
  .desktop-only {
    display: block;
  }
}
