/* @font-face {
  font-family: 'OpenSans Bold';
  src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
} */
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans-Regular.woff2') format('woff2');
}
/* @font-face {
  font-family: 'Source Code Pro Bold';
  src: url('../fonts/SourceCodePro-Bold.ttf') format('truetype');
} */
@font-face {
  font-family: 'Source Code Pro';
  src: url('../fonts/SourceCodePro-Regular.woff2') format('woff2');
}

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'OpenSans', sans-serif;
}

h1 {
  /* font-family: 'OpenSans Bold', sans-serif; */
}

html {
  font-size: 16px;
}

.hidden {
  display: none !important;
}

header {
  width: 100vw;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;

  .title {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
    font-family: 'Source Code Pro', monospace;

    .dotcom {
      font-size: 0.5em;
      font-family: 'Source Code Pro', monospace;
    }
  }

  .nav-buttons-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: -5px;

    a {
      text-decoration: none;
      cursor: pointer;
    }

    img {
      width: 30px;
    }
    svg {
      width: 40px;
      height: 40px;
      cursor: pointer;
    }
  }
}

@media (min-width: 765px) {
  header {
    padding: 10px 15px;
    div {
      gap: 30px;
    }

    #toast {
      right: 15px;
      top: 60px;
    }
  }
}

@media (min-width: 1060px) {
  header {
    padding: 20px 30px;
    #toast {
      right: 20px;
      top: 70px;
    }
  }
}
