@import 'common.css';

main {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 10px;

  svg {
    width: 120px;
    margin-bottom: 70px;
  }

  h1 {
    font-weight: normal;
    font-size: 2rem;
    font-family: 'Source Code Pro', monospace;

    .dotcom {
      font-size: 0.5em;
      font-family: 'Source Code Pro', monospace;
    }
  }

  .divider {
    display: inline-block;
    width: 200px;
    height: 1px;
    background-color: rgb(150, 150, 150);
    margin: 10px 0px;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
  }

  .nav-heading {
    margin-top: 90px;
    margin-bottom: 20px;
    font-size: 1.2rem;
  }

  nav {
    display: grid;
    grid-template-areas: 'files moves' 'ranks colours' 'squares memory';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
    gap: 15px;

    .link-files {
      grid-area: files;
    }
    .link-ranks {
      grid-area: ranks;
    }
    .link-squares {
      grid-area: squares;
    }
    .link-moves {
      grid-area: moves;
    }
    .link-colours {
      grid-area: colours;
    }
    .link-memory {
      grid-area: memory;
    }
    a {
      display: block;
      font-size: 1.1rem;
      max-width: 240px;
      width: 100%;
      padding: 12px 10px;
      border-radius: 5px;
      background-color: rgb(184, 139, 74);
      background-color: #519872;
      color: white;
      border: 2px solid #519872;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #5198723d;
        border: 2px solid #519872;
        color: #519872;
        text-decoration: underline;
        transition: all 50ms ease-in-out;
      }
    }
  }
}

@media (min-width: 412px) {
  main {
    nav {
      .a {
        height: 60px;
      }
    }
  }
}

@media (min-width: 500px) {
  main {
    svg {
      width: 160px;
    }
    .nav-heading {
      margin-bottom: 30px;
    }
    nav {
      max-width: 550px;
      gap: 30px 30px;
    }
  }
}

@media (min-width: 600px) {
  main {
    svg {
      margin-bottom: 120px;
    }
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: normal;
    }
    .nav-heading {
      margin-top: 120px;
    }
    nav {
      .a {
        font-size: 1.4rem;
        height: 75px;
      }
    }
  }
}

@media (min-width: 1200px) {
  main {
    margin-top: 100px;
  }
}
