@import 'common.css';

main {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 10px;

  svg {
    width: 160px;
    margin-bottom: 70px;
  }

  h1 {
    font-weight: normal;
    font-size: 2rem;
    font-family: 'Source Code Pro', monospace;

    .dotcom {
      font-size: 0.5em;
      font-family: 'Source Code Pro', monospace;
    }
  }

  .divider {
    display: inline-block;
    width: 200px;
    height: 1px;
    background-color: rgb(150, 150, 150);
    margin: 10px 0px;
  }

  h2 {
    font-size: 1.3rem;
    font-weight: normal;
    font-family: 'OpenSans', sans-serif;
  }

  nav {
    margin-top: 90px;
    display: grid;
    grid-template-areas: 'coordinates memory';
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 500px;
    gap: 30px 20px;
    align-items: stretch;

    .link-coordinates {
      grid-area: coordinates;
    }
    .link-memory {
      grid-area: memory;
    }

    .link-coordinates,
    .link-memory {
      display: block;
      font-size: 1.1rem;
      height: 75px;
      padding: 0px 10px;
      border-radius: 5px;
      background-color: rgb(184, 139, 74);
      background-color: #519872;
      color: white;
      border: none;
      cursor: pointer;
      text-decoration: none;
      display: flex;
      align-items: center;
      justify-content: center;

      &:hover {
        background-color: #5198723d;
        border: 2px solid #519872;
        color: #519872;
        transition: all 50ms ease-in-out;
      }
    }
  }
}

.link-mail {
  grid-area: mail;
  cursor: pointer;
  text-decoration: underline;
  position: relative;
  margin-top: 30px;

  #toast {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    top: -10px;
    padding: 10px 20px;
    opacity: 1;
    background-color: rgb(251, 255, 215);
    border: 2px solid rgb(207, 219, 100);
    color: rgb(72, 73, 17);
    border-radius: 10px;
    transition: all 200ms ease-in-out;

    &.toast-hidden {
      transform: translate(-50%, 40px);
      opacity: 0;
      transition: all 100ms ease-in-out;
    }
  }
}

@media (min-width: 412px) {
  main {
    nav {
      .link-coordinates,
      .link-memory {
        height: 60px;
      }
    }
  }
}

@media (min-width: 500px) {
  main {
    svg {
      width: 200px;
    }
    nav {
      max-width: 550px;
      gap: 30px 40px;
    }
  }
}

@media (min-width: 600px) {
  main {
    svg {
      margin-bottom: 90px;
    }
    h1 {
      font-size: 2.5rem;
    }
    h2 {
      font-size: 1.5rem;
      font-weight: normal;
    }
    nav {
      margin-top: 110px;
      .link-coordinates,
      .link-memory {
        font-size: 1.4rem;
        height: 75px;
      }
    }
  }
}

@media (min-width: 1200px) {
  main {
    margin-top: 100px;
  }
}
