@import url('mode-nav.css');
@import url('board.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.game-section {
  display: flex;
  flex-flow: column;
  align-items: center;
  max-width: 100%;

  button {
    font-size: 2rem;
    padding: 5px;
    width: 90vw;
    max-width: 600px;
    border-radius: 5px;
    background-color: var(--colors-primary);
    color: white;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
    border: 2px solid var(--colors-primary);

    &:hover {
      background-color: var(--colors-primary-hover);
      border: 2px solid var(--colors-primary);
      color: var(--colors-primary);
      transition: all 50ms ease-in-out;
    }
  }
  .new-retry-buttons-container {
    display: flex;
    flex-flow: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 95%;
    gap: 10px;
    margin: 20px 0px 0px;
    .retry-game-button {
      display: inline-block;
      max-width: 33%;
      margin: 0px;
    }
    .new-memory-game-button {
      display: inline-block;
      margin: 0px;
    }
  }
}

#memory-game {
  .pieces-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: -10px;
    background-color: color-mix(in srgb, var(--colors-background) 80%, var(--colors-white));

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .square {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        padding: 5px;

        div {
          width: 100%;
          height: 100%;
          svg {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }

  .difficulty-selection-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    max-width: 600px;
    margin-top: 20px;
    position: relative;

    .difficulty-input-container {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 10px;

      input[type='checkbox'] {
        display: none;
      }
      label::before {
        content: '';
        display: inline-block;
        width: 25px;
        height: 25px;
        background-color: var(--colors-background);
        border: 2px solid var(--colors-orange);
        border-radius: 5px;
        vertical-align: middle;
        margin-right: 8px;
        position: relative;
      }
      input[type='checkbox']:checked + label::before {
        content: '';
        height: 25px;
        width: 25px;
        background-size: 25px 25px;
        background-image: url('../images/check.svg');
        background-repeat: no-repeat;
        background-color: var(--colors-orange);
      }
    }

    .difficulty-warning {
      position: absolute;
      left: 50%;
      top: 70px;
      transform: translate(-50%, -30px);
      text-align: center;
      width: 100%;
      color: red;
      transition: all 200ms ease-in-out;
      pointer-events: none;

      &.toast-hidden {
        transform: translate(-50%, -60px) !important;
        opacity: 0 !important;
        transition: all 100ms ease-in-out;
      }
    }
  }
  &.active {
    .difficulty-selection-container {
      display: none;
    }
  }

  .square[data-square='a1'],
  .square[data-square='h8'] {
    position: relative;
    &.show-hint {
      &::before {
        font-size: 1rem;
        position: absolute;
        opacity: 0.8;
        color: white;
        z-index: 1;
      }
    }
  }

  .square[data-square='a1'] {
    position: relative;
    &.show-hint {
      &::before {
        content: 'a1';
        bottom: -8px;
        left: -4px;
      }
    }
  }

  .square[data-square='h8'] {
    position: relative;
    &.show-hint {
      &::before {
        content: 'h8';
        top: -8px;
        right: -5px;
      }
    }
  }

  .memory-game-finished-buttons-container {
    width: 95%;
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin: 0px 0px;

    button {
      width: 50%;
      font-size: 1.2rem;
      background-color: transparent;
      cursor: pointer;
      border: 2px solid var(--colors-primary);
      margin-top: 20px;
      color: var(--colors-text-color);

      &.active {
        text-decoration: underline;
        text-decoration-color: var(--colors-primary);
        color: var(--colors-primary);
        text-decoration-thickness: 2px;
        background-color: var(--colors-primary-hover);
      }
    }
  }

  .memory-game-finished-perfect-container {
    width: 95%;
    margin: 20px 0px 0px;
    text-align: center;

    p {
      font-size: 2rem;
    }
  }
}

@media (min-width: 1060px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    width: 100%;
    max-width: 1200px;
  }

  .game-section {
    position: relative;

    &#memory-game {
      .start-button {
        position: absolute;
        bottom: 0px;
        left: -440px;
        margin: 0px;
        width: 360px;
      }

      .difficulty-selection-container {
        position: absolute;
        bottom: 70px;
        left: -440px;
        width: 360px;
        .difficulty-warning {
          top: 0px;
        }
      }
    }
  }

  #memory-game {
    position: relative;

    .new-retry-buttons-container {
      position: absolute;
      bottom: 0px;
      left: -440px;
      margin: 0px;
      width: 360px;
    }

    .check-position-button {
      /* font-size: 2.2rem; */
      position: absolute;
      bottom: 0px;
      left: -440px;
      margin: 0px;
      width: 360px;
    }

    .memory-game-finished-buttons-container {
      max-width: 360px;
      width: 360px;
      margin: 0px 0px;
      position: absolute;
      left: -440px;
      bottom: 80px;

      button {
        font-size: 1.4rem;
        cursor: pointer;
        border: 2px solid var(--colors-primary);

        &.active {
          text-decoration: underline;
          text-decoration-color: var(--colors-primary);
          text-decoration-thickness: 2px;
          background-color: var(--colors-primary-hover);
        }

        &:hover {
          background-color: var(--colors-primary-hover);
        }
      }
    }

    .memory-game-finished-perfect-container {
      max-width: 360px;
      width: 360px;
      margin: 0px 0px;
      position: absolute;
      left: -440px;
      bottom: 80px;
    }

    .square[data-square='a1'],
    .square[data-square='h8'] {
      position: relative;
      &.show-hint {
        &::before {
          font-size: 1rem;
        }
      }
    }
  }

  .pieces-container {
    width: 360px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    left: -440px;
    bottom: 90px;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .square {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        padding: 5px;
      }
    }
  }
}
