@import url('mode-nav.css');
@import url('board.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.game-section {
  display: flex;
  flex-flow: column;
  align-items: center;

  button {
    font-size: 2rem;
    padding: 5px;
    width: 90vw;
    max-width: 600px;
    border-radius: 5px;
    background-color: rgb(184, 139, 74);
    background-color: #519872;
    color: white;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
    border: 2px solid #519872;

    &:hover {
      background-color: #5198723d;
      border: 2px solid #519872;
      color: #519872;
      transition: all 50ms ease-in-out;
    }
  }
}

#memory-game {
  .pieces-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: -10px;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .square {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        padding: 5px;
      }
    }
  }

  .difficulty-selection-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 90vw;
    max-width: 600px;
    margin-top: 20px;
    position: relative;

    .difficulty-input-container {
      display: flex;
      flex-flow: row;
      align-items: center;
      gap: 10px;
    }

    .difficulty-warning {
      position: absolute;
      left: 50%;
      top: 0px;
      transform: translate(-50%, -30px);
      text-align: center;
      width: 100%;
      color: red;
      transition: all 200ms ease-in-out;
      pointer-events: none;

      &.toast-hidden {
        transform: translate(-50%, -60px) !important;
        opacity: 0 !important;
        transition: all 100ms ease-in-out;
      }
    }
  }
  &.active {
    .difficulty-selection-container {
      display: none;
    }
  }

  .square[data-square='a1'],
  .square[data-square='h8'] {
    position: relative;
    &.show-hint {
      &::before {
        font-size: 1rem;
        position: absolute;
        opacity: 0.6;
      }
    }
  }

  .square[data-square='a1'] {
    position: relative;
    &.show-hint {
      &::before {
        content: 'a1';
        bottom: -3px;
        left: 0px;
      }
    }
  }

  .square[data-square='h8'] {
    position: relative;
    &.show-hint {
      &::before {
        content: 'h8';
        top: -3px;
        right: 0px;
      }
    }
  }

  .memory-game-finished-buttons-container {
    max-width: 80vw;
    width: 80vw;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    margin: -20px 0px;

    button {
      max-width: 40%;
      font-size: 1.2rem;
      background-color: transparent;
      color: black;
      /* border-radius: 0px; */
      cursor: pointer;
      border: 2px solid #519872;

      &.active {
        text-decoration: underline;
        text-decoration-color: #519872;
        text-decoration-thickness: 2px;
        background-color: #5198721f;
      }
    }
  }
}

@media (min-width: 1060px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    width: 100%;
    max-width: 1200px;
  }

  .game-section {
    position: relative;

    &#memory-game {
      .start-button {
        position: absolute;
        bottom: 0px;
        left: -440px;
        margin: 0px;
        width: 360px;
      }

      .difficulty-selection-container {
        position: absolute;
        bottom: 70px;
        left: -440px;
        width: 360px;
      }
    }
  }

  #memory-game {
    position: relative;

    .check-position-button,
    .new-memory-game-button {
      /* font-size: 2.2rem; */
      position: absolute;
      bottom: 0px;
      left: -440px;
      margin: 0px;
      width: 360px;
    }

    .memory-game-finished-buttons-container {
      max-width: 360px;
      width: 360px;
      margin: 0px 0px;
      position: absolute;
      left: -440px;
      bottom: 80px;

      button {
        max-width: 45%;
        font-size: 1.4rem;
        color: black;
        cursor: pointer;
        border: 2px solid #519872;

        &.active {
          text-decoration: underline;
          text-decoration-color: #519872;
          text-decoration-thickness: 2px;
          background-color: #5198721f;
        }

        &:hover {
          background-color: #5198721f;
        }
      }
    }

    .square[data-square='a1'],
    .square[data-square='h8'] {
      position: relative;
      &.show-hint {
        &::before {
          font-size: 1rem;
        }
      }
    }
  }

  .pieces-container {
    width: 360px;
    margin-top: 0px;
    margin-bottom: 0px;
    position: absolute;
    left: -440px;
    bottom: 90px;

    .row {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;

      .square {
        width: 60px;
        height: 60px;
        border: 1px solid black;
        padding: 5px;
      }
    }
  }
}
