@import url('mode-nav.css');
@import url('board.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.game-section {
  display: flex;
  flex-flow: column;
  align-items: center;

  button {
    font-size: 2rem;
    padding: 5px;
    width: 90vw;
    max-width: 600px;
    border-radius: 5px;
    background-color: rgb(184, 139, 74);
    background-color: #519872;
    color: white;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
    border: 2px solid #519872;

    &:hover {
      background-color: #5198723d;
      border: 2px solid #519872;
      color: #519872;
      transition: all 50ms ease-in-out;
    }
  }

  .prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    font-size: 9rem;
    font-family: 'OpenSans';
    font-weight: bold;
    pointer-events: none;
    cursor: none;
    color: white;
    opacity: 0.75;

    &.wrong {
      animation-name: wrong;
      animation-duration: 0.3s;
    }
  }

  .square[data-square='a1'],
  .square[data-square='h8'] {
    position: relative;
    &.show-hint {
      &::before {
        font-size: 1rem;
        position: absolute;
        opacity: 0.6;
      }
    }
  }

  .square[data-square='a1'] {
    position: relative;
    &.show-hint {
      &::before {
        content: 'a1';
        bottom: -3px;
        left: 0px;
      }
    }
  }

  .square[data-square='h8'] {
    position: relative;
    &.show-hint {
      &::before {
        content: 'h8';
        top: -3px;
        right: 0px;
      }
    }
  }
}

#score {
  position: fixed;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  width: 80vw;
  max-width: 300px;
  z-index: 10;
  border-radius: 20px;
  font-size: 3rem;
  background-color: rgba(255, 255, 255, 0.95);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 20px 0px;

  .score-heading {
    font-size: 1.8rem;
    text-wrap: nowrap;
    margin-bottom: 10px;
  }

  section {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-bottom: 0px;

    svg {
      margin-right: 20px;
      width: 50px;
      height: 50px;
    }
  }

  .score-correct {
    color: #519872;
  }
  .score-wrong {
    color: #cf3c3a;
  }

  .score-close-button {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 15px;

    svg {
      width: 25px;
      height: 25px;
      fill: rgb(126, 126, 126);
    }
  }
}

@keyframes wrong {
  0% {
    transform: translate(-50%, -55%) rotate(0deg);
  }
  25% {
    transform: translate(-50%, -55%) rotate(10deg);
  }
  50% {
    transform: translate(-50%, -55%) rotate(0deg);
  }
  75% {
    transform: translate(-50%, -55%) rotate(-10deg);
  }
  100% {
    transform: translate(-50%, -55%) rotate(0deg);
  }
}

@media (min-width: 1060px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    width: 100%;
    max-width: 1200px;
  }

  .game-section {
    position: relative;

    &#moves-game {
      .start-stop-button {
        position: absolute;
        bottom: 0px;
        left: -440px;
        margin: 0px;
        width: 360px;
      }
    }

    .check-position-button,
    .new-moves-game-button {
      position: absolute;
      bottom: 0px;
      left: -440px;
      margin: 0px;
      width: 360px;
    }

    .square[data-square='a1'],
    .square[data-square='h8'] {
      position: relative;
      &.show-hint {
        &::before {
          font-size: 1rem;
        }
      }
    }
  }
}
