@import url('mode-nav.css');
@import url('board.css');
@import url('score.css');

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.game-section {
  display: flex;
  flex-flow: column;
  align-items: center;

  button {
    font-size: 2rem;
    padding: 5px;
    width: 90vw;
    max-width: 600px;
    border-radius: 5px;
    background-color: var(--colors-primary);
    color: white;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    transition: all 50ms ease-in-out;
    border: 2px solid var(--colors-primary);

    &:hover {
      background-color: var(--colors-primary-hover);
      border: 2px solid var(--colors-primary);
      color: var(--colors-primary);
      transition: all 50ms ease-in-out;
    }
  }
}

#squares-game {
  position: relative;
  .board {
    svg {
      pointer-events: none;
    }
  }

  .prompt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -55%);
    font-size: 6rem;
    pointer-events: none;
    cursor: none;

    &.wrong {
      animation-name: wrong;
      animation-duration: 0.3s;
    }
  }
}

@keyframes wrong {
  0% {
    transform: translate(-50%, -55%) scale(1);
    color: var(--colors-text-color);
  }
  50% {
    transform: translate(-50%, -55%) scale(1.4);
    color: red;
  }
  75% {
    transform: translate(-50%, -55%) scale(1.2);
    color: red;
  }
  100% {
    transform: translate(-50%, -55%) scale(1);
    color: var(--colors-text-color);
  }
}

@media (min-width: 1060px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  main {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
    margin-top: 100px;
    width: 100%;
    max-width: 1200px;
  }

  .game-section {
    position: relative;

    &#squares-game {
      .start-stop-button {
        position: absolute;
        bottom: 0px;
        left: -440px;
        margin: 0px;
        width: 360px;
      }
    }
  }
}
